<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Leaderboard</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/layui/2.9.9/css/layui.css" />
  <script src="https://s1.pstatp.com/cdn/expire-1-M/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.9.9/layui.min.js" type="text/javascript"
  	charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <!-- Navbar part -->
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="./home.html">CoinQuest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./leaderboardAndRedeem.html">Leaderboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./index.html">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./profile.html">Profile</a>
            </li>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <div class="ring">
    <i style="--clr:#00ff0a;"></i>
    <i style="--clr:#ff0057;"></i>
    <i style="--clr:#fffd44;"></i>
    <div class="login">
      <h2>Sign In</h2>
      <div class="inputBx">
        <input type="text" placeholder="Username">
      </div>
      <div class="inputBx">
        <input type="password" placeholder="Password">
      </div>
      <div class="inputBx">
        <input type="submit" value="Log In">
      </div>
      <div class="links">
        <a href="javascript:void(0);" class="forgot_btn">Forgot Password</a>
        <a href="register.html">Register</a>
      </div>
    </div>
  </div>
</html>

<script>
	$(function(){
		// 判断是不是弹窗打开的 如果是 就隐藏导航栏
		var search = window.location.search
		if(search){
			$("nav").hide()
		}
		// 登录 点击忘记密码
		$(".forgot_btn").click(function() {
			layer.open({
				type: 2, 
				title: 'Login', 
				content: './password.html?type=1', 
				area: ['1000px', '760px'], 
			});
		})
	})
</script>