{% extends "base.html" %}

{% block content %}
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h1 class="extra-large-text">About QuestHub</h1>
                <p class="large-text" style="margin-bottom: 1.5em;">Welcome to QuestHub! Join our vibrant community where curiosity meets knowledge.</p>
                <p class="large-text" style="margin-bottom: 1.5em;">At QuestHub, you can:</p>
                <p class="large-text" style="margin-bottom: 1.5em;">- <strong>Ask Questions:</strong> Have a burning question? Post it here and get answers from experts and enthusiasts.</p>
                <p class="large-text" style="margin-bottom: 1.5em;">- <strong>Share Knowledge:</strong> Contribute by answering questions and help others learn from your experience.</p>
                <p class="large-text" style="margin-bottom: 1.5em;">- <strong>Track Your Progress:</strong> Check out the leaderboard and see where you stand among the top contributors.</p>
                <p class="large-text" style="margin-bottom: 1.5em;">- <strong>Personalize Your Experience:</strong> Manage your profile, review your contributions, and stay updated with the latest discussions.</p>
                <p class="large-text" style="margin-bottom: 1.5em;">Sign up today and start your journey of discovery and collaboration on QuestHub!</p>
            </div>            
            <div class="col-lg-6">
                <div class="leaderboard" style="height: 500px; overflow-y: scroll;">
                    <h1 class="d-flex align-items-center extra-large-text">
                        <img src="../static/images/champ.png" alt="" width="30" height="30"/>
                        <div style="margin-left: 15px;">Leaderboard</div>
                    </h1>
                    <ol class="large-text">
                        {% for user in users %}
                            <li>
                                <img src="{{ url_for('static',filename='photo/'+user.photopath) }}" alt="User Avatar"
                                     width="30"
                                     height="30" style="margin-right: 10px;">
                                <mark style="position: absolute;left: 50px;top:5px;">{{ user.username }}</mark>
                                <small>{{ user.money }}</small>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function geturl(url) {
            window.location.href = url;
        }

        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#back-to-top').fadeIn();
                } else {
                    $('#back-to-top').fadeOut();
                }
            });

            $('#back-to-top').click(function () {
                $('html, body').animate({scrollTop: 0}, 800);
                return false;
            });
        });
    </script>
{% endblock %}
