{% extends "base.html" %}

{% block content %}
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h1 class="extra-large-text">About CoinQuest</h1>
                <p class="large-text">Welcome to CoinQuest! This website is dedicated to helping users manage and share
                    their coding tasks.</p>
                <p class="large-text">Users can upload tasks, view the leaderboard, and interact with others through
                    comments and feedback.</p>
                <p class="large-text">Join us today and be part of an amazing community of developers and coders.</p>
            </div>
            <div class="col-lg-6">
                <div class="leaderboard" style="height: 500px; overflow-y: scroll;">
                    <h1 class="d-flex align-items-center extra-large-text">
                        <img src="../static/images/champ.png" alt="" width="30" height="30"/>
                        <div style="margin-left: 15px;">Leaderboard</div>
                    </h1>
                    <ol class="large-text">
                        {% for user in users %}
                            <li>
                                <img src="{{ url_for('static',filename='photo/'+user.photopath) }}" alt="User Avatar"
                                     width="30"
                                     height="30" style="margin-right: 10px;">
                                <mark style="position: absolute;left: 50px;top:5px;">{{ user.username }}</mark>
                                <small>{{ user.money }}</small>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function geturl(url) {
            window.location.href = url;
        }

        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#back-to-top').fadeIn();
                } else {
                    $('#back-to-top').fadeOut();
                }
            });

            $('#back-to-top').click(function () {
                $('html, body').animate({scrollTop: 0}, 800);
                return false;
            });
        });
    </script>
{% endblock %}
